<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col">Department of Computer Science and Engineering<br>Engineering Research Building, Room 640, Box 19015, Arlington, TX 76010<br>Phone: 817-272-3785 | Fax: 817-272-3784<br><a class="base-link" href="http://www.uta.edu/"><i class="far fa-copyright" aria-hidden="true"></i>  {{ current_date.year }}  The University of Texas at Arlington</a>
            </div>
            <div class="col" id="footer-social-links">
                <a href="https://twitter.com/intent/follow?screen_name=cseuta"><i class="fab fa-twitter-square" aria-hidden="true"></i></a>
                <a href="https://www.facebook.com/cseutarlington"><i class="fab fa-facebook-square" aria-hidden="true"></i></a>
                <a href="https://www.linkedin.com/groups?trk=myg_ugrp_ovr&gid=4120776"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</footer>