{% extends "main/base.html" %}
{% block page_title %}CSE Apps | Travel Reimbursement{% endblock %}
{% block custom_css %}
<link rel="stylesheet" href="{{ url_for("static", filename="css/reimbursement/app.{0}.css".format(git_hash)) }}">
{% endblock %}
{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container px-0">
        <h1 class="display-3"><i class="fa fa-credit-card" aria-hidden="true"></i> Reimbursements</h1>
        <p class="lead">Request, manage and track reimbursements from here!</p>
        <hr />
        <ul class="app-menu-list">
            {% if user_roles.STFADM == false %}
            <li><a class="btn btn-link base-link" href="{% block new_request_link %}new/request/{% endblock %}"><i class="fas fa-money-bill-alt width-20" aria-hidden="true"></i> New Request</a></li>
            {% endif %}
            <li><a class="btn btn-link base-link" href="{% block view_requests_link %}view/requests/{% endblock %}"><i class="fas fa-list-alt" aria-hidden="true"></i> {% if user_roles.STFADM == false %}View Requests{% else %}View User Requests{% endif %}</a></li>
            <li><a class="btn btn-link base-link contact-webmaster" href="#"><i class="fas fa-envelope" aria-hidden="true"></i> Contact Admin</a></li>
        </ul>
    </div>
    {% block user_forms %}{% endblock %}
</div>
{% endblock %}
{% block custom_js_import %}
    <script src="{{ url_for("static", filename="js/reimbursement/app.{0}.js".format(git_hash)) }}"></script>
    {% block per_page_js %}{% endblock %}
{% endblock %}
